<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cmu.dao.ForeignTeacherMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cmu.domain.ForeignTeacher" >
    <constructor >
      <arg column="TID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GENDER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LANGUAGE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GZDW" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZYLY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PHONE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZWZC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GLXM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CZ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TXDZ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GJ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VALID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
       and valid = 1
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, NAME, GENDER, LANGUAGE, GZDW, ZYLY, EMAIL, PHONE, ZWZC, GLXM, CZ, TXDZ, GJ, 
    ZT, VALID, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.cmu.domain.ForeignTeacherParams" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_FOREIGN_TEACHER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.edu.cmu.domain.ForeignTeacherParams" >
    delete from T_FOREIGN_TEACHER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.cmu.domain.ForeignTeacher" >
    insert into T_FOREIGN_TEACHER (TID, NAME, GENDER, 
      LANGUAGE, GZDW, ZYLY, 
      EMAIL, PHONE, ZWZC, 
      GLXM, CZ, TXDZ, GJ, 
      ZT, VALID, CREATE_TIME
      )
    values (#{tid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{gzdw,jdbcType=VARCHAR}, #{zyly,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{zwzc,jdbcType=VARCHAR}, 
      #{glxm,jdbcType=VARCHAR}, #{cz,jdbcType=VARCHAR}, #{txdz,jdbcType=VARCHAR}, #{gj,jdbcType=VARCHAR}, 
      #{zt,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cmu.domain.ForeignTeacher" >
    insert into T_FOREIGN_TEACHER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="language != null" >
        LANGUAGE,
      </if>
      <if test="gzdw != null" >
        GZDW,
      </if>
      <if test="zyly != null" >
        ZYLY,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="zwzc != null" >
        ZWZC,
      </if>
      <if test="glxm != null" >
        GLXM,
      </if>
      <if test="cz != null" >
        CZ,
      </if>
      <if test="txdz != null" >
        TXDZ,
      </if>
      <if test="gj != null" >
        GJ,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="valid != null" >
        VALID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="gzdw != null" >
        #{gzdw,jdbcType=VARCHAR},
      </if>
      <if test="zyly != null" >
        #{zyly,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="zwzc != null" >
        #{zwzc,jdbcType=VARCHAR},
      </if>
      <if test="glxm != null" >
        #{glxm,jdbcType=VARCHAR},
      </if>
      <if test="cz != null" >
        #{cz,jdbcType=VARCHAR},
      </if>
      <if test="txdz != null" >
        #{txdz,jdbcType=VARCHAR},
      </if>
      <if test="gj != null" >
        #{gj,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.cmu.domain.ForeignTeacherParams" resultType="java.lang.Integer" >
    select count(*) from T_FOREIGN_TEACHER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_FOREIGN_TEACHER
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        GENDER = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null" >
        LANGUAGE = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.gzdw != null" >
        GZDW = #{record.gzdw,jdbcType=VARCHAR},
      </if>
      <if test="record.zyly != null" >
        ZYLY = #{record.zyly,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.zwzc != null" >
        ZWZC = #{record.zwzc,jdbcType=VARCHAR},
      </if>
      <if test="record.glxm != null" >
        GLXM = #{record.glxm,jdbcType=VARCHAR},
      </if>
      <if test="record.cz != null" >
        CZ = #{record.cz,jdbcType=VARCHAR},
      </if>
      <if test="record.txdz != null" >
        TXDZ = #{record.txdz,jdbcType=VARCHAR},
      </if>
      <if test="record.gj != null" >
        GJ = #{record.gj,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null" >
        ZT = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null" >
        VALID = #{record.valid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_FOREIGN_TEACHER
    set TID = #{record.tid,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      GENDER = #{record.gender,jdbcType=VARCHAR},
      LANGUAGE = #{record.language,jdbcType=VARCHAR},
      GZDW = #{record.gzdw,jdbcType=VARCHAR},
      ZYLY = #{record.zyly,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      ZWZC = #{record.zwzc,jdbcType=VARCHAR},
      GLXM = #{record.glxm,jdbcType=VARCHAR},
      CZ = #{record.cz,jdbcType=VARCHAR},
      TXDZ = #{record.txdz,jdbcType=VARCHAR},
      GJ = #{record.gj,jdbcType=VARCHAR},
      ZT = #{record.zt,jdbcType=VARCHAR},
      VALID = #{record.valid,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>