<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cmu.dao.HyZjMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cmu.domain.HyZj" >
    <constructor >
      <idArg column="ZJID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SBID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JBXX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PJWH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JTQKJS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CCQKJS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JYYWT" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ZJID, SBID, JBXX, PJWH, JTQKJS, CCQKJS, JYYWT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.cmu.domain.HyZjParams" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_HY_ZJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_HY_ZJ
    where ZJID = #{zjid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_HY_ZJ
    where ZJID = #{zjid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.cmu.domain.HyZjParams" >
    delete from T_HY_ZJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.cmu.domain.HyZj" >
    insert into T_HY_ZJ (ZJID, SBID, JBXX, 
      PJWH, JTQKJS, CCQKJS, 
      JYYWT)
    values (#{zjid,jdbcType=VARCHAR}, #{sbid,jdbcType=VARCHAR}, #{jbxx,jdbcType=VARCHAR}, 
      #{pjwh,jdbcType=VARCHAR}, #{jtqkjs,jdbcType=VARCHAR}, #{ccqkjs,jdbcType=VARCHAR}, 
      #{jyywt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cmu.domain.HyZj" >
    insert into T_HY_ZJ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zjid != null" >
        ZJID,
      </if>
      <if test="sbid != null" >
        SBID,
      </if>
      <if test="jbxx != null" >
        JBXX,
      </if>
      <if test="pjwh != null" >
        PJWH,
      </if>
      <if test="jtqkjs != null" >
        JTQKJS,
      </if>
      <if test="ccqkjs != null" >
        CCQKJS,
      </if>
      <if test="jyywt != null" >
        JYYWT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zjid != null" >
        #{zjid,jdbcType=VARCHAR},
      </if>
      <if test="sbid != null" >
        #{sbid,jdbcType=VARCHAR},
      </if>
      <if test="jbxx != null" >
        #{jbxx,jdbcType=VARCHAR},
      </if>
      <if test="pjwh != null" >
        #{pjwh,jdbcType=VARCHAR},
      </if>
      <if test="jtqkjs != null" >
        #{jtqkjs,jdbcType=VARCHAR},
      </if>
      <if test="ccqkjs != null" >
        #{ccqkjs,jdbcType=VARCHAR},
      </if>
      <if test="jyywt != null" >
        #{jyywt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.cmu.domain.HyZjParams" resultType="java.lang.Integer" >
    select count(*) from T_HY_ZJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_HY_ZJ
    <set >
      <if test="record.zjid != null" >
        ZJID = #{record.zjid,jdbcType=VARCHAR},
      </if>
      <if test="record.sbid != null" >
        SBID = #{record.sbid,jdbcType=VARCHAR},
      </if>
      <if test="record.jbxx != null" >
        JBXX = #{record.jbxx,jdbcType=VARCHAR},
      </if>
      <if test="record.pjwh != null" >
        PJWH = #{record.pjwh,jdbcType=VARCHAR},
      </if>
      <if test="record.jtqkjs != null" >
        JTQKJS = #{record.jtqkjs,jdbcType=VARCHAR},
      </if>
      <if test="record.ccqkjs != null" >
        CCQKJS = #{record.ccqkjs,jdbcType=VARCHAR},
      </if>
      <if test="record.jyywt != null" >
        JYYWT = #{record.jyywt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_HY_ZJ
    set ZJID = #{record.zjid,jdbcType=VARCHAR},
      SBID = #{record.sbid,jdbcType=VARCHAR},
      JBXX = #{record.jbxx,jdbcType=VARCHAR},
      PJWH = #{record.pjwh,jdbcType=VARCHAR},
      JTQKJS = #{record.jtqkjs,jdbcType=VARCHAR},
      CCQKJS = #{record.ccqkjs,jdbcType=VARCHAR},
      JYYWT = #{record.jyywt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cmu.domain.HyZj" >
    update T_HY_ZJ
    <set >
      <if test="sbid != null" >
        SBID = #{sbid,jdbcType=VARCHAR},
      </if>
      <if test="jbxx != null" >
        JBXX = #{jbxx,jdbcType=VARCHAR},
      </if>
      <if test="pjwh != null" >
        PJWH = #{pjwh,jdbcType=VARCHAR},
      </if>
      <if test="jtqkjs != null" >
        JTQKJS = #{jtqkjs,jdbcType=VARCHAR},
      </if>
      <if test="ccqkjs != null" >
        CCQKJS = #{ccqkjs,jdbcType=VARCHAR},
      </if>
      <if test="jyywt != null" >
        JYYWT = #{jyywt,jdbcType=VARCHAR},
      </if>
    </set>
    where ZJID = #{zjid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cmu.domain.HyZj" >
    update T_HY_ZJ
    set SBID = #{sbid,jdbcType=VARCHAR},
      JBXX = #{jbxx,jdbcType=VARCHAR},
      PJWH = #{pjwh,jdbcType=VARCHAR},
      JTQKJS = #{jtqkjs,jdbcType=VARCHAR},
      CCQKJS = #{ccqkjs,jdbcType=VARCHAR},
      JYYWT = #{jyywt,jdbcType=VARCHAR}
    where ZJID = #{zjid,jdbcType=VARCHAR}
  </update>
</mapper>