<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cmu.dao.HzxyMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cmu.domain.Hzxy" >
    <constructor >
      <idArg column="xyid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="xymc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hzfmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qdrq" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sxrq" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="upload_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qzr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qzrzw" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="valid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
       and valid = 1
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    xyid, xymc, hzfmc, qdrq, sxrq, upload_id, qzr, qzrzw, valid, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.cmu.domain.HzxyParams" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_HZXY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_HZXY
    where xyid = #{xyid,jdbcType=VARCHAR}
      and valid = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_HZXY
    where xyid = #{xyid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.cmu.domain.HzxyParams" >
    delete from T_HZXY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.cmu.domain.Hzxy" >
    insert into T_HZXY (xyid, xymc, hzfmc, 
      qdrq, sxrq, upload_id, 
      qzr, qzrzw, valid, 
      create_time)
    values (#{xyid,jdbcType=VARCHAR}, #{xymc,jdbcType=VARCHAR}, #{hzfmc,jdbcType=VARCHAR}, 
      #{qdrq,jdbcType=TIMESTAMP}, #{sxrq,jdbcType=TIMESTAMP}, #{uploadId,jdbcType=VARCHAR}, 
      #{qzr,jdbcType=VARCHAR}, #{qzrzw,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cmu.domain.Hzxy" >
    insert into T_HZXY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xyid != null" >
        xyid,
      </if>
      <if test="xymc != null" >
        xymc,
      </if>
      <if test="hzfmc != null" >
        hzfmc,
      </if>
      <if test="qdrq != null" >
        qdrq,
      </if>
      <if test="sxrq != null" >
        sxrq,
      </if>
      <if test="uploadId != null" >
        upload_id,
      </if>
      <if test="qzr != null" >
        qzr,
      </if>
      <if test="qzrzw != null" >
        qzrzw,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xyid != null" >
        #{xyid,jdbcType=VARCHAR},
      </if>
      <if test="xymc != null" >
        #{xymc,jdbcType=VARCHAR},
      </if>
      <if test="hzfmc != null" >
        #{hzfmc,jdbcType=VARCHAR},
      </if>
      <if test="qdrq != null" >
        #{qdrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sxrq != null" >
        #{sxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadId != null" >
        #{uploadId,jdbcType=VARCHAR},
      </if>
      <if test="qzr != null" >
        #{qzr,jdbcType=VARCHAR},
      </if>
      <if test="qzrzw != null" >
        #{qzrzw,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.cmu.domain.HzxyParams" resultType="java.lang.Integer" >
    select count(*) from T_HZXY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_HZXY
    <set >
      <if test="record.xyid != null" >
        xyid = #{record.xyid,jdbcType=VARCHAR},
      </if>
      <if test="record.xymc != null" >
        xymc = #{record.xymc,jdbcType=VARCHAR},
      </if>
      <if test="record.hzfmc != null" >
        hzfmc = #{record.hzfmc,jdbcType=VARCHAR},
      </if>
      <if test="record.qdrq != null" >
        qdrq = #{record.qdrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sxrq != null" >
        sxrq = #{record.sxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadId != null" >
        upload_id = #{record.uploadId,jdbcType=VARCHAR},
      </if>
      <if test="record.qzr != null" >
        qzr = #{record.qzr,jdbcType=VARCHAR},
      </if>
      <if test="record.qzrzw != null" >
        qzrzw = #{record.qzrzw,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_HZXY
    set xyid = #{record.xyid,jdbcType=VARCHAR},
      xymc = #{record.xymc,jdbcType=VARCHAR},
      hzfmc = #{record.hzfmc,jdbcType=VARCHAR},
      qdrq = #{record.qdrq,jdbcType=TIMESTAMP},
      sxrq = #{record.sxrq,jdbcType=TIMESTAMP},
      upload_id = #{record.uploadId,jdbcType=VARCHAR},
      qzr = #{record.qzr,jdbcType=VARCHAR},
      qzrzw = #{record.qzrzw,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cmu.domain.Hzxy" >
    update T_HZXY
    <set >
      <if test="xymc != null" >
        xymc = #{xymc,jdbcType=VARCHAR},
      </if>
      <if test="hzfmc != null" >
        hzfmc = #{hzfmc,jdbcType=VARCHAR},
      </if>
      <if test="qdrq != null" >
        qdrq = #{qdrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sxrq != null" >
        sxrq = #{sxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadId != null" >
        upload_id = #{uploadId,jdbcType=VARCHAR},
      </if>
      <if test="qzr != null" >
        qzr = #{qzr,jdbcType=VARCHAR},
      </if>
      <if test="qzrzw != null" >
        qzrzw = #{qzrzw,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where xyid = #{xyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cmu.domain.Hzxy" >
    update T_HZXY
    set xymc = #{xymc,jdbcType=VARCHAR},
      hzfmc = #{hzfmc,jdbcType=VARCHAR},
      qdrq = #{qdrq,jdbcType=TIMESTAMP},
      sxrq = #{sxrq,jdbcType=TIMESTAMP},
      upload_id = #{uploadId,jdbcType=VARCHAR},
      qzr = #{qzr,jdbcType=VARCHAR},
      qzrzw = #{qzrzw,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where xyid = #{xyid,jdbcType=VARCHAR}
  </update>
</mapper>