<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cmu.dao.UploadMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cmu.domain.Upload" >
    <constructor >
      <idArg column="FILE_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPLOAD_PATH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EXT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATOR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VALID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Select_Example_Where_Clause" >
     where valid = 1 and ( 1=1 and         
    <if test="_parameter != null" >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </if>
      ) 
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FILE_ID, UPLOAD_PATH, EXT, OPERATOR, IP, VALID, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.cmu.domain.UploadParams" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_SYS_UPLOAD

    <include refid="Select_Example_Where_Clause" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_UPLOAD
    where FILE_ID = #{fileId,jdbcType=VARCHAR}
      and VALID = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYS_UPLOAD
    where FILE_ID = #{fileId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.cmu.domain.UploadParams" >
    delete from T_SYS_UPLOAD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.cmu.domain.Upload" >
    insert into T_SYS_UPLOAD (FILE_ID, UPLOAD_PATH, EXT, 
      OPERATOR, IP, VALID, 
      CREATE_TIME)
    values (#{fileId,jdbcType=VARCHAR}, #{uploadPath,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cmu.domain.Upload" >
    insert into T_SYS_UPLOAD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        FILE_ID,
      </if>
      <if test="uploadPath != null" >
        UPLOAD_PATH,
      </if>
      <if test="ext != null" >
        EXT,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="valid != null" >
        VALID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="uploadPath != null" >
        #{uploadPath,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.cmu.domain.UploadParams" resultType="java.lang.Integer" >
    select count(*) from T_SYS_UPLOAD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SYS_UPLOAD
    <set >
      <if test="record.fileId != null" >
        FILE_ID = #{record.fileId,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadPath != null" >
        UPLOAD_PATH = #{record.uploadPath,jdbcType=VARCHAR},
      </if>
      <if test="record.ext != null" >
        EXT = #{record.ext,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null" >
        VALID = #{record.valid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SYS_UPLOAD
    set FILE_ID = #{record.fileId,jdbcType=VARCHAR},
      UPLOAD_PATH = #{record.uploadPath,jdbcType=VARCHAR},
      EXT = #{record.ext,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=VARCHAR},
      VALID = #{record.valid,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cmu.domain.Upload" >
    update T_SYS_UPLOAD
    <set >
      <if test="uploadPath != null" >
        UPLOAD_PATH = #{uploadPath,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        EXT = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        VALID = #{valid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FILE_ID = #{fileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cmu.domain.Upload" >
    update T_SYS_UPLOAD
    set UPLOAD_PATH = #{uploadPath,jdbcType=VARCHAR},
      EXT = #{ext,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      VALID = #{valid,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where FILE_ID = #{fileId,jdbcType=VARCHAR}
  </update>
</mapper>