<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cmu.dao.XmXssqjlMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cmu.domain.XmXssqjl" >
    <constructor >
      <idArg column="SQJL_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XM_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XMZM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XMMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GENDER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="YXDM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="YXMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RXN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NJ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZYH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZYMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BJH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BJMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CHPM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZHPJ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="YYSP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PHONE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZZJE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="JLGJDQM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XLCP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONFIRM_STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISCONFIRM1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISCONFIRM2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FSYJ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SELF_PAY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VALID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Select_Example_Where_Clause" >
     where valid = 1 and ( 1=1 and         
    <if test="_parameter != null" >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </if>
      ) 
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SQJL_ID, XM_ID, XMZM, XMMC, XH, XM, GENDER, YXDM, YXMC, RXN, NJ, ZYH, ZYMC, BJH, 
    BJMC, CHPM, ZHPJ, YYSP, PHONE, EMAIL, ZZJE, JLGJDQM, XLCP, STATUS, CONFIRM_STATUS, 
    ISCONFIRM1, ISCONFIRM2, FSYJ, SELF_PAY, VALID, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.cmu.domain.XmXssqjlParams" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_XM_XSSQJL

    <include refid="Select_Example_Where_Clause" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_XM_XSSQJL
    where SQJL_ID = #{sqjlId,jdbcType=VARCHAR}
      and VALID = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_XM_XSSQJL
    where SQJL_ID = #{sqjlId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.cmu.domain.XmXssqjlParams" >
    delete from T_XM_XSSQJL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.cmu.domain.XmXssqjl" >
    insert into T_XM_XSSQJL (SQJL_ID, XM_ID, XMZM, 
      XMMC, XH, XM, GENDER, 
      YXDM, YXMC, RXN, NJ, 
      ZYH, ZYMC, BJH, BJMC, 
      CHPM, ZHPJ, YYSP, PHONE, 
      EMAIL, ZZJE, JLGJDQM, 
      XLCP, STATUS, CONFIRM_STATUS, 
      ISCONFIRM1, ISCONFIRM2, FSYJ, 
      SELF_PAY, VALID, CREATE_TIME
      )
    values (#{sqjlId,jdbcType=VARCHAR}, #{xmId,jdbcType=VARCHAR}, #{xmzm,jdbcType=VARCHAR}, 
      #{xmmc,jdbcType=VARCHAR}, #{xh,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{yxdm,jdbcType=VARCHAR}, #{yxmc,jdbcType=VARCHAR}, #{rxn,jdbcType=VARCHAR}, #{nj,jdbcType=VARCHAR}, 
      #{zyh,jdbcType=VARCHAR}, #{zymc,jdbcType=VARCHAR}, #{bjh,jdbcType=VARCHAR}, #{bjmc,jdbcType=VARCHAR}, 
      #{chpm,jdbcType=VARCHAR}, #{zhpj,jdbcType=VARCHAR}, #{yysp,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{zzje,jdbcType=DECIMAL}, #{jlgjdqm,jdbcType=VARCHAR}, 
      #{xlcp,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{confirmStatus,jdbcType=VARCHAR}, 
      #{isconfirm1,jdbcType=VARCHAR}, #{isconfirm2,jdbcType=VARCHAR}, #{fsyj,jdbcType=VARCHAR}, 
      #{selfPay,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cmu.domain.XmXssqjl" >
    insert into T_XM_XSSQJL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sqjlId != null" >
        SQJL_ID,
      </if>
      <if test="xmId != null" >
        XM_ID,
      </if>
      <if test="xmzm != null" >
        XMZM,
      </if>
      <if test="xmmc != null" >
        XMMC,
      </if>
      <if test="xh != null" >
        XH,
      </if>
      <if test="xm != null" >
        XM,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="yxdm != null" >
        YXDM,
      </if>
      <if test="yxmc != null" >
        YXMC,
      </if>
      <if test="rxn != null" >
        RXN,
      </if>
      <if test="nj != null" >
        NJ,
      </if>
      <if test="zyh != null" >
        ZYH,
      </if>
      <if test="zymc != null" >
        ZYMC,
      </if>
      <if test="bjh != null" >
        BJH,
      </if>
      <if test="bjmc != null" >
        BJMC,
      </if>
      <if test="chpm != null" >
        CHPM,
      </if>
      <if test="zhpj != null" >
        ZHPJ,
      </if>
      <if test="yysp != null" >
        YYSP,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="zzje != null" >
        ZZJE,
      </if>
      <if test="jlgjdqm != null" >
        JLGJDQM,
      </if>
      <if test="xlcp != null" >
        XLCP,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="confirmStatus != null" >
        CONFIRM_STATUS,
      </if>
      <if test="isconfirm1 != null" >
        ISCONFIRM1,
      </if>
      <if test="isconfirm2 != null" >
        ISCONFIRM2,
      </if>
      <if test="fsyj != null" >
        FSYJ,
      </if>
      <if test="selfPay != null" >
        SELF_PAY,
      </if>
      <if test="valid != null" >
        VALID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sqjlId != null" >
        #{sqjlId,jdbcType=VARCHAR},
      </if>
      <if test="xmId != null" >
        #{xmId,jdbcType=VARCHAR},
      </if>
      <if test="xmzm != null" >
        #{xmzm,jdbcType=VARCHAR},
      </if>
      <if test="xmmc != null" >
        #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="xh != null" >
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="yxdm != null" >
        #{yxdm,jdbcType=VARCHAR},
      </if>
      <if test="yxmc != null" >
        #{yxmc,jdbcType=VARCHAR},
      </if>
      <if test="rxn != null" >
        #{rxn,jdbcType=VARCHAR},
      </if>
      <if test="nj != null" >
        #{nj,jdbcType=VARCHAR},
      </if>
      <if test="zyh != null" >
        #{zyh,jdbcType=VARCHAR},
      </if>
      <if test="zymc != null" >
        #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjmc != null" >
        #{bjmc,jdbcType=VARCHAR},
      </if>
      <if test="chpm != null" >
        #{chpm,jdbcType=VARCHAR},
      </if>
      <if test="zhpj != null" >
        #{zhpj,jdbcType=VARCHAR},
      </if>
      <if test="yysp != null" >
        #{yysp,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="zzje != null" >
        #{zzje,jdbcType=DECIMAL},
      </if>
      <if test="jlgjdqm != null" >
        #{jlgjdqm,jdbcType=VARCHAR},
      </if>
      <if test="xlcp != null" >
        #{xlcp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="confirmStatus != null" >
        #{confirmStatus,jdbcType=VARCHAR},
      </if>
      <if test="isconfirm1 != null" >
        #{isconfirm1,jdbcType=VARCHAR},
      </if>
      <if test="isconfirm2 != null" >
        #{isconfirm2,jdbcType=VARCHAR},
      </if>
      <if test="fsyj != null" >
        #{fsyj,jdbcType=VARCHAR},
      </if>
      <if test="selfPay != null" >
        #{selfPay,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.cmu.domain.XmXssqjlParams" resultType="java.lang.Integer" >
    select count(*) from T_XM_XSSQJL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_XM_XSSQJL
    <set >
      <if test="record.sqjlId != null" >
        SQJL_ID = #{record.sqjlId,jdbcType=VARCHAR},
      </if>
      <if test="record.xmId != null" >
        XM_ID = #{record.xmId,jdbcType=VARCHAR},
      </if>
      <if test="record.xmzm != null" >
        XMZM = #{record.xmzm,jdbcType=VARCHAR},
      </if>
      <if test="record.xmmc != null" >
        XMMC = #{record.xmmc,jdbcType=VARCHAR},
      </if>
      <if test="record.xh != null" >
        XH = #{record.xh,jdbcType=VARCHAR},
      </if>
      <if test="record.xm != null" >
        XM = #{record.xm,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        GENDER = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.yxdm != null" >
        YXDM = #{record.yxdm,jdbcType=VARCHAR},
      </if>
      <if test="record.yxmc != null" >
        YXMC = #{record.yxmc,jdbcType=VARCHAR},
      </if>
      <if test="record.rxn != null" >
        RXN = #{record.rxn,jdbcType=VARCHAR},
      </if>
      <if test="record.nj != null" >
        NJ = #{record.nj,jdbcType=VARCHAR},
      </if>
      <if test="record.zyh != null" >
        ZYH = #{record.zyh,jdbcType=VARCHAR},
      </if>
      <if test="record.zymc != null" >
        ZYMC = #{record.zymc,jdbcType=VARCHAR},
      </if>
      <if test="record.bjh != null" >
        BJH = #{record.bjh,jdbcType=VARCHAR},
      </if>
      <if test="record.bjmc != null" >
        BJMC = #{record.bjmc,jdbcType=VARCHAR},
      </if>
      <if test="record.chpm != null" >
        CHPM = #{record.chpm,jdbcType=VARCHAR},
      </if>
      <if test="record.zhpj != null" >
        ZHPJ = #{record.zhpj,jdbcType=VARCHAR},
      </if>
      <if test="record.yysp != null" >
        YYSP = #{record.yysp,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.zzje != null" >
        ZZJE = #{record.zzje,jdbcType=DECIMAL},
      </if>
      <if test="record.jlgjdqm != null" >
        JLGJDQM = #{record.jlgjdqm,jdbcType=VARCHAR},
      </if>
      <if test="record.xlcp != null" >
        XLCP = #{record.xlcp,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmStatus != null" >
        CONFIRM_STATUS = #{record.confirmStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isconfirm1 != null" >
        ISCONFIRM1 = #{record.isconfirm1,jdbcType=VARCHAR},
      </if>
      <if test="record.isconfirm2 != null" >
        ISCONFIRM2 = #{record.isconfirm2,jdbcType=VARCHAR},
      </if>
      <if test="record.fsyj != null" >
        FSYJ = #{record.fsyj,jdbcType=VARCHAR},
      </if>
      <if test="record.selfPay != null" >
        SELF_PAY = #{record.selfPay,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null" >
        VALID = #{record.valid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_XM_XSSQJL
    set SQJL_ID = #{record.sqjlId,jdbcType=VARCHAR},
      XM_ID = #{record.xmId,jdbcType=VARCHAR},
      XMZM = #{record.xmzm,jdbcType=VARCHAR},
      XMMC = #{record.xmmc,jdbcType=VARCHAR},
      XH = #{record.xh,jdbcType=VARCHAR},
      XM = #{record.xm,jdbcType=VARCHAR},
      GENDER = #{record.gender,jdbcType=VARCHAR},
      YXDM = #{record.yxdm,jdbcType=VARCHAR},
      YXMC = #{record.yxmc,jdbcType=VARCHAR},
      RXN = #{record.rxn,jdbcType=VARCHAR},
      NJ = #{record.nj,jdbcType=VARCHAR},
      ZYH = #{record.zyh,jdbcType=VARCHAR},
      ZYMC = #{record.zymc,jdbcType=VARCHAR},
      BJH = #{record.bjh,jdbcType=VARCHAR},
      BJMC = #{record.bjmc,jdbcType=VARCHAR},
      CHPM = #{record.chpm,jdbcType=VARCHAR},
      ZHPJ = #{record.zhpj,jdbcType=VARCHAR},
      YYSP = #{record.yysp,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      ZZJE = #{record.zzje,jdbcType=DECIMAL},
      JLGJDQM = #{record.jlgjdqm,jdbcType=VARCHAR},
      XLCP = #{record.xlcp,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CONFIRM_STATUS = #{record.confirmStatus,jdbcType=VARCHAR},
      ISCONFIRM1 = #{record.isconfirm1,jdbcType=VARCHAR},
      ISCONFIRM2 = #{record.isconfirm2,jdbcType=VARCHAR},
      FSYJ = #{record.fsyj,jdbcType=VARCHAR},
      SELF_PAY = #{record.selfPay,jdbcType=VARCHAR},
      VALID = #{record.valid,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cmu.domain.XmXssqjl" >
    update T_XM_XSSQJL
    <set >
      <if test="xmId != null" >
        XM_ID = #{xmId,jdbcType=VARCHAR},
      </if>
      <if test="xmzm != null" >
        XMZM = #{xmzm,jdbcType=VARCHAR},
      </if>
      <if test="xmmc != null" >
        XMMC = #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="xh != null" >
        XH = #{xh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        XM = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="yxdm != null" >
        YXDM = #{yxdm,jdbcType=VARCHAR},
      </if>
      <if test="yxmc != null" >
        YXMC = #{yxmc,jdbcType=VARCHAR},
      </if>
      <if test="rxn != null" >
        RXN = #{rxn,jdbcType=VARCHAR},
      </if>
      <if test="nj != null" >
        NJ = #{nj,jdbcType=VARCHAR},
      </if>
      <if test="zyh != null" >
        ZYH = #{zyh,jdbcType=VARCHAR},
      </if>
      <if test="zymc != null" >
        ZYMC = #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="bjh != null" >
        BJH = #{bjh,jdbcType=VARCHAR},
      </if>
      <if test="bjmc != null" >
        BJMC = #{bjmc,jdbcType=VARCHAR},
      </if>
      <if test="chpm != null" >
        CHPM = #{chpm,jdbcType=VARCHAR},
      </if>
      <if test="zhpj != null" >
        ZHPJ = #{zhpj,jdbcType=VARCHAR},
      </if>
      <if test="yysp != null" >
        YYSP = #{yysp,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="zzje != null" >
        ZZJE = #{zzje,jdbcType=DECIMAL},
      </if>
      <if test="jlgjdqm != null" >
        JLGJDQM = #{jlgjdqm,jdbcType=VARCHAR},
      </if>
      <if test="xlcp != null" >
        XLCP = #{xlcp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="confirmStatus != null" >
        CONFIRM_STATUS = #{confirmStatus,jdbcType=VARCHAR},
      </if>
      <if test="isconfirm1 != null" >
        ISCONFIRM1 = #{isconfirm1,jdbcType=VARCHAR},
      </if>
      <if test="isconfirm2 != null" >
        ISCONFIRM2 = #{isconfirm2,jdbcType=VARCHAR},
      </if>
      <if test="fsyj != null" >
        FSYJ = #{fsyj,jdbcType=VARCHAR},
      </if>
      <if test="selfPay != null" >
        SELF_PAY = #{selfPay,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        VALID = #{valid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SQJL_ID = #{sqjlId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cmu.domain.XmXssqjl" >
    update T_XM_XSSQJL
    set XM_ID = #{xmId,jdbcType=VARCHAR},
      XMZM = #{xmzm,jdbcType=VARCHAR},
      XMMC = #{xmmc,jdbcType=VARCHAR},
      XH = #{xh,jdbcType=VARCHAR},
      XM = #{xm,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=VARCHAR},
      YXDM = #{yxdm,jdbcType=VARCHAR},
      YXMC = #{yxmc,jdbcType=VARCHAR},
      RXN = #{rxn,jdbcType=VARCHAR},
      NJ = #{nj,jdbcType=VARCHAR},
      ZYH = #{zyh,jdbcType=VARCHAR},
      ZYMC = #{zymc,jdbcType=VARCHAR},
      BJH = #{bjh,jdbcType=VARCHAR},
      BJMC = #{bjmc,jdbcType=VARCHAR},
      CHPM = #{chpm,jdbcType=VARCHAR},
      ZHPJ = #{zhpj,jdbcType=VARCHAR},
      YYSP = #{yysp,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ZZJE = #{zzje,jdbcType=DECIMAL},
      JLGJDQM = #{jlgjdqm,jdbcType=VARCHAR},
      XLCP = #{xlcp,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CONFIRM_STATUS = #{confirmStatus,jdbcType=VARCHAR},
      ISCONFIRM1 = #{isconfirm1,jdbcType=VARCHAR},
      ISCONFIRM2 = #{isconfirm2,jdbcType=VARCHAR},
      FSYJ = #{fsyj,jdbcType=VARCHAR},
      SELF_PAY = #{selfPay,jdbcType=VARCHAR},
      VALID = #{valid,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where SQJL_ID = #{sqjlId,jdbcType=VARCHAR}
  </update>
</mapper>