<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cmu.dao.YjsZyxxsjxxMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cmu.domain.YjsZyxxsjxx" >
    <constructor >
      <arg column="ZYH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZYMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZYJC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZYYWMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZYFXH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DWH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XZ" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="XKMLM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="YJSZYM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JLNY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="QSXQ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BZKZYM" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
       and valid = 1
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ZYH, ZYMC, ZYJC, ZYYWMC, ZYFXH, DWH, XZ, XKMLM, YJSZYM, JLNY, QSXQ, BZKZYM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.cmu.domain.YjsZyxxsjxxParams" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from V_YJS_ZYXXSJXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.edu.cmu.domain.YjsZyxxsjxxParams" >
    delete from V_YJS_ZYXXSJXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.cmu.domain.YjsZyxxsjxx" >
    insert into V_YJS_ZYXXSJXX (ZYH, ZYMC, ZYJC, 
      ZYYWMC, ZYFXH, DWH, 
      XZ, XKMLM, YJSZYM, 
      JLNY, QSXQ, BZKZYM)
    values (#{zyh,jdbcType=VARCHAR}, #{zymc,jdbcType=VARCHAR}, #{zyjc,jdbcType=VARCHAR}, 
      #{zyywmc,jdbcType=VARCHAR}, #{zyfxh,jdbcType=VARCHAR}, #{dwh,jdbcType=VARCHAR}, 
      #{xz,jdbcType=DECIMAL}, #{xkmlm,jdbcType=VARCHAR}, #{yjszym,jdbcType=VARCHAR}, 
      #{jlny,jdbcType=VARCHAR}, #{qsxq,jdbcType=VARCHAR}, #{bzkzym,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cmu.domain.YjsZyxxsjxx" >
    insert into V_YJS_ZYXXSJXX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zyh != null" >
        ZYH,
      </if>
      <if test="zymc != null" >
        ZYMC,
      </if>
      <if test="zyjc != null" >
        ZYJC,
      </if>
      <if test="zyywmc != null" >
        ZYYWMC,
      </if>
      <if test="zyfxh != null" >
        ZYFXH,
      </if>
      <if test="dwh != null" >
        DWH,
      </if>
      <if test="xz != null" >
        XZ,
      </if>
      <if test="xkmlm != null" >
        XKMLM,
      </if>
      <if test="yjszym != null" >
        YJSZYM,
      </if>
      <if test="jlny != null" >
        JLNY,
      </if>
      <if test="qsxq != null" >
        QSXQ,
      </if>
      <if test="bzkzym != null" >
        BZKZYM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zyh != null" >
        #{zyh,jdbcType=VARCHAR},
      </if>
      <if test="zymc != null" >
        #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="zyjc != null" >
        #{zyjc,jdbcType=VARCHAR},
      </if>
      <if test="zyywmc != null" >
        #{zyywmc,jdbcType=VARCHAR},
      </if>
      <if test="zyfxh != null" >
        #{zyfxh,jdbcType=VARCHAR},
      </if>
      <if test="dwh != null" >
        #{dwh,jdbcType=VARCHAR},
      </if>
      <if test="xz != null" >
        #{xz,jdbcType=DECIMAL},
      </if>
      <if test="xkmlm != null" >
        #{xkmlm,jdbcType=VARCHAR},
      </if>
      <if test="yjszym != null" >
        #{yjszym,jdbcType=VARCHAR},
      </if>
      <if test="jlny != null" >
        #{jlny,jdbcType=VARCHAR},
      </if>
      <if test="qsxq != null" >
        #{qsxq,jdbcType=VARCHAR},
      </if>
      <if test="bzkzym != null" >
        #{bzkzym,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.cmu.domain.YjsZyxxsjxxParams" resultType="java.lang.Integer" >
    select count(*) from V_YJS_ZYXXSJXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update V_YJS_ZYXXSJXX
    <set >
      <if test="record.zyh != null" >
        ZYH = #{record.zyh,jdbcType=VARCHAR},
      </if>
      <if test="record.zymc != null" >
        ZYMC = #{record.zymc,jdbcType=VARCHAR},
      </if>
      <if test="record.zyjc != null" >
        ZYJC = #{record.zyjc,jdbcType=VARCHAR},
      </if>
      <if test="record.zyywmc != null" >
        ZYYWMC = #{record.zyywmc,jdbcType=VARCHAR},
      </if>
      <if test="record.zyfxh != null" >
        ZYFXH = #{record.zyfxh,jdbcType=VARCHAR},
      </if>
      <if test="record.dwh != null" >
        DWH = #{record.dwh,jdbcType=VARCHAR},
      </if>
      <if test="record.xz != null" >
        XZ = #{record.xz,jdbcType=DECIMAL},
      </if>
      <if test="record.xkmlm != null" >
        XKMLM = #{record.xkmlm,jdbcType=VARCHAR},
      </if>
      <if test="record.yjszym != null" >
        YJSZYM = #{record.yjszym,jdbcType=VARCHAR},
      </if>
      <if test="record.jlny != null" >
        JLNY = #{record.jlny,jdbcType=VARCHAR},
      </if>
      <if test="record.qsxq != null" >
        QSXQ = #{record.qsxq,jdbcType=VARCHAR},
      </if>
      <if test="record.bzkzym != null" >
        BZKZYM = #{record.bzkzym,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update V_YJS_ZYXXSJXX
    set ZYH = #{record.zyh,jdbcType=VARCHAR},
      ZYMC = #{record.zymc,jdbcType=VARCHAR},
      ZYJC = #{record.zyjc,jdbcType=VARCHAR},
      ZYYWMC = #{record.zyywmc,jdbcType=VARCHAR},
      ZYFXH = #{record.zyfxh,jdbcType=VARCHAR},
      DWH = #{record.dwh,jdbcType=VARCHAR},
      XZ = #{record.xz,jdbcType=DECIMAL},
      XKMLM = #{record.xkmlm,jdbcType=VARCHAR},
      YJSZYM = #{record.yjszym,jdbcType=VARCHAR},
      JLNY = #{record.jlny,jdbcType=VARCHAR},
      QSXQ = #{record.qsxq,jdbcType=VARCHAR},
      BZKZYM = #{record.bzkzym,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>